/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_variables";
@import "_slick";

*, *:after, *:before{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
svg, polygon, path{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
input{
  font-family: $geo;
}
input:not(.checkbox){
  -webkit-appearance: none;
  outline: none;
  border: none;
  color: inherit;
  border-radius: 0;
}
sup{
  position: relative;
  font-size: 60%;
  top: -2px;
}

::-webkit-input-placeholder { color: inherit ;font-family: $geo; letter-spacing: 0.05em;}
::-moz-placeholder { color: inherit ;font-family: $geo; letter-spacing: 0.05em;}
:-ms-input-placeholder { color: inherit ;font-family: $geo; letter-spacing: 0.05em;}
:-moz-placeholder {color: inherit ;font-family: $geo; letter-spacing: 0.05em;}

body{
font-family: $geo;
background-color: #ffffff;
// background-color: $red;
letter-spacing: 0.05em;
}
.hidden__box{
  height: 0px;
  overflow: hidden;
}
.wrapper{
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.flex{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.wow{
  visibility: hidden;
}
.content_name{
  font-family: $geoBold;
  font-size: 48px;
  line-height: 1.33;
  text-transform: uppercase;
}
.content_subname{
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
}
.content_text{
  font-size: 12px;
  line-height: 2;
  margin: 20px 0;
  letter-spacing: normal;
}
header{
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 12px;
  border-bottom: 2px solid $grey;
  transition: 0.36s;
  -webkit-transition: 0.36s;
  .flex{
  align-items: center;
  -webkit-align-items: center;
}
  svg, .menu__box span{
    transition: 0.36s;
    -webkit-transition: 0.36s;
  }
}
.header_white{
  color: white;
  svg{

    fill: #ffffff;
    stroke: #ffffff;
  }
  .menu__box span{
    background-color: #fff;
  }
}
.header_red{
  color: $red;
  svg{

    fill: $red;
    stroke: $red;
  }
  .menu__box span{
    background-color: $red;
  }
}
.header_logo{
  max-width: 260px;
}
.header_right{
  width: 70%;
}
.button{
  display: block;
  padding: 19px 30px;
  max-width: 250px;
  text-align: center;
  border: 2px solid;
  font-size: 12px;
}
.btn-arrow{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items:center;
  justify-content: center;
  -webkit-justify-content: center;
  svg{
    margin-left: 10px;
  }
}
.phone_number{
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.callback_header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-evenly;
}
.menu__box{
  width: 46px;
  text-align: center;
  cursor: pointer;
  span{
    display: block;
    width: 100%;
    height: 2.22px;
    text-align: center;
    margin-bottom: 6.55px;
  }
  span:last-of-type {
    width: 12px;
  }
}
.one{
  background-color: #000000;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  // position: relative;
  color: #ffffff;
}
.main_one__gallery{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
}
.one_gallery__item{
  height: 100vh;
  min-height: 750px;
  background-size: cover;
  background-position: center;
}
.one_gallery__item_1{ background-image: url('/img/main/slider-1.jpg');}
.one_gallery__item_2{ background-image: url('/img/main/slider-2.jpg');}
.one_gallery__item_3{ background-image: url('/img/main/slider-3.jpg');}
.one_gallery__item_4{ background-image: url('/img/main/slider-4.jpg');}
.one_gallery__item_5{ background-image: url('/img/main/slider-5.jpg');}
.one_gallery__item_6{ background-image: url('/img/main/slider-6.jpg');}
.one_gallery__item_7{ background-image: url('/img/main/slider-7.jpg');}

.one_inner{
  position: relative;
  z-index: 2;
  height: 100%;
  align-items: center;
  -webkit-align-items: center;
}
.arrows_box{
  margin-top: 12px;
  &>*{
    cursor: pointer;
  }
  svg{
    fill: #ffffff;
  }
}
.one_item{
  width: 300px;
  .btn-arrow{
    svg{
      fill: #ffffff;
    }
  }
}
@-webkit-keyframes bounceM {
  0% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateX(0);
}
}

@-moz-keyframes bounceM {
  0%{
    transform: translateY(0);
  }
  80% {
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
}
}

@keyframes bounceM {
  0%{
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100%{
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceM {
  -webkit-animation: bounceM 3s infinite;
  animation: bounceM 3s infinite;
}
.mouse{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  pointer-events: none;
  align-items: center;
  -webkit-align-items: center;
  svg{
    width: 22px;
    height: 36px;
    fill: #ffffff;
    margin-right: 12px;
  }
  span{
    font-size: 12px;
  }
}
.cat{
  width: 600px;
  height: 520px;
  position: relative;
}
.cats_item{
  position: absolute;
  background-color: $red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cat1{
  width: 168px;
  height: 180px;
  top: 4px;
  left: 43px;
  -webkit-clip-path: polygon(40% 0%, 0 100%, 100% 67%);
  clip-path: polygon(40% 0%, 0 100%, 100% 67%);
}
.cat2{
  width: 154px;
  height: 136px;
  top: 11px;
  left: 396px;
  // background-color: blue;
  -webkit-clip-path: polygon(77% 0%, 0% 77%, 100% 100%);
  clip-path: polygon(77% 0%, 0% 77%, 100% 100%);
}
.cat3{
  width: 272px;
  height: 118px;
  bottom: 0;
  left: 134px;
  // background-color: green;
  -webkit-clip-path: polygon(0 0, 55% 100%, 100% 42%);
  clip-path: polygon(0 0, 55% 100%, 100% 42%);
}
.cat4{
  // background-color: yellow;
  width: 195px;
  height: 209px;//221
  top: 184px;
  left: 3px;
  -webkit-clip-path: polygon(50% 0%, 100% 99%, 46% 89%, 0 56%, 16% 11%);
  clip-path: polygon(50% 0%, 100% 99%, 46% 89%, 0 56%, 16% 11%);
}
.cat5{
  // background-color: orange;
  width: 221px;
  height: 172px;
  top: 134px;
  left: 130px;
  -webkit-clip-path: polygon(99% 0, 89% 100%, 28% 99%, 0 23%, 42% 2%);
  clip-path: polygon(99% 0, 89% 100%, 28% 99%, 0 23%, 42% 2%);
}
.cat6{
  // background-color: pink;
  width: 228px;
  height: 134px;//152
  top: 130px;
  left: 349px;
  -webkit-clip-path: polygon(90% 30%, 100% 100%, 2% 83%, 8% 3%);
  clip-path: polygon(90% 30%, 100% 100%, 2% 83%, 8% 3%);
}
.cat7{
  // background-color: #3f5d40;
  width: 270px;
  height: 181px;
  top: 253px;
  left: 331px;
  -webkit-clip-path: polygon(100% 51%, 40% 100%, 0 91%, 8% 0, 94% 16%);
  clip-path: polygon(100% 51%, 40% 100%, 0 91%, 8% 0, 94% 16%);
}
.cat8{
  // background-color: cadetblue;
  width: 127px;
  height: 94px;
  top: 318px;
  left: 200px;
  -webkit-clip-path: polygon(91% 100%, 27% 86%, 0 5%, 100% 6%);
  clip-path: polygon(91% 100%, 27% 86%, 0 5%, 100% 6%);
}
.two{
  background-color: white;
  min-height: 100vh;
  margin-top: 100vh;
  position: relative;
  padding-top: 130px;
  padding-bottom: 20px;
  .wrapper{
    padding: 20px 10px;
    height: 100%;
    align-items: center;
    -webkit-align-items: center;
  }
  .cat4{
    background-image: url('/img/main/two-4.jpg');
  }
  .cat5{
    background-image: url('/img/main/two-5.jpg');
  }
  .cat6{
    background-image: url('/img/main/two-6.jpg');
  }
  .cat7{
    background-image: url('/img/main/two-7.jpg');
  }
  .cat8{
    background-image: url('/img/main/two-8.jpg');
  }
}
.two_inner{
  width: 45%;
  max-width: 480px;
  .content_name{
    color: $darkGrey;
  }
  .content_text{
    color: $darkGrey;
  }
  .button{
    color: $red;
    svg{
      fill: $red;
    }
  }
}
.three{
  background-color: $red;
  position: relative;
  // height: 100vh;
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 20px;
  .wrapper{
    height: 100%;
    align-items: center;
    -webkit-align-items: center;
    padding: 20px 10px;
  }
  .cat1{
    background-image: url('/img/main/three-1.jpg');
  }
  .cat2{
    background-image: url('/img/main/three-2.jpg');
  }
  .cat3{
    background-image: url('/img/main/three-3.jpg');
  }
  .cat4{
    background-image: url('/img/main/three-4.jpg');
  }
  .cat5{
    background-image: url('/img/main/three-5.jpg');
  }
  .cat6{
    background-image: url('/img/main/three-6.jpg');
  }
  .cat7{
    background-image: url('/img/main/three-7.jpg');
  }
  .cat8{
    background-image: url('/img/main/three-8.jpg');
  }
}
.three_inner{
  width: 45%;
  max-width: 480px;
  .content_name{
    color: #ffffff;
  }
  .content_text{
    color: #ffffff;
    max-width: 325px;
    p{
      margin: 10px 0;
    }
  }
  .button{
    color: #ffffff;
    svg{
      fill: #ffffff;
    }
  }

}
.four{
  min-height: 100vh;
  background-image: url('/img/main/four-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-top: 130px;
  .wrapper{
    // height: 100%;
    align-items: center;
    -webkit-align-items: center;
    padding: 20px 10px;
    min-height: calc(100vh - 130px);
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .vertical_text{
    position: absolute;
    transform: rotate(270deg);
    left: -72px;
    top: 65px;
    width: 150px;
    height: 24px;

  }
}
.four_img{
  width: 45%;
  max-width: 400px;
  height: 100%;
}
.four_inner{
  width: 35%;
  max-width: 480px;
  .content_name{
    color: #ffffff;
  }
  .content_text{
    color: #ffffff;
    max-width: 325px;
    padding-left: 50px;
    position: relative;
    p{
      margin: 10px 0;
    }
    span{
      display: inline-block;
      border-radius: 100%;
      border: 1px solid;
      padding: 6px;
      }
  }
  .button{
    color: #ffffff;
    svg{
      fill: #ffffff;
    }
  }
}
.five{
  min-height: 100vh;
  position: relative;
  background-color: $red;
  padding-top: 130px;
  color: #ffffff;
  .wrapper{
    padding: 20px 10px;
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
  }
  .content_name{
    margin-bottom: 60px;
  }
  .content_text{
    margin: 20px auto;
    max-width: 130px;
  }
  .slick-slider{
    padding: 0 48px;
  }
  .slick-arrow{
    display: block;
    position: absolute;
    background: #ffffff;
    top: 50%;
    width: 46px;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
  }
  .slick_right{
    right: 0;
  }
  .slick_left{
    left: 0;
  }
}
.five_item.slick-slide{
  width: 124px;
  padding: 20px;
  text-align: center;
  svg{
    width: 100%;
    fill: #ffffff;
    max-height: 68px;
  }
}
.six{
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;;
  padding-top: 130px;
  color: $red;
  .wrapper{
    padding: 20px 10px;
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
  }
  .button{
    width: 100%;
    max-width: 340px;
    color: $red;
    max-height: 50px;
    svg{
      fill: $red;
    }
  }
}
.six_inner{
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.news_item{
  color: $darkGrey;
  width: 48%;
  max-width: 550px;
  margin: 20px 0;
}
.news_date{
  font-size: 10px;
  margin: 16px 0;
  & > *{
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
  }
}
.long_line{
  background-color: $darkGrey;
  width: 28px;
  height: 1px;
}
.news_name{
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}
.news_img{
  width: 160px;
  height: 160px;
  margin-top: 7px;
  margin-right: 16px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.news_descr{
  width: 62%;
  flex-direction: column;
  -webkit-flex-direction: column;

  .content_text{
    margin-top: 0;
    letter-spacing: normal;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
.seven{
  height: 100vh;
  min-height: 600px;
  position: relative;
}
#map{
  width: 100%;
  height: 100%;
}









@import "_animate";
